################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ps and Qs/.vs/Ps and Qs/v15
